@{
    ViewData["Title"] = "TROXÃO About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h3>@ViewData["quemsoueu"]</h3>

<p>Use this area to provide additional information.</p>
<div style ="color:darkgreen;font-size:50px;border:2px"><p>@ViewData["email"]<div>
<div style ="padding:20px;color:darkgreen;font-size:50px;border-radius:8px;border-style:solid"<p>@ViewData["email"]<div>